<html>
<head>
	<title>Workout Plans</title>
<style>
.flex-container {
  display: flex;
  background-color: Teal;
  width: 800px;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
.flex-container-1 {
  display: flex;
  background-color: Teal;
  width: 480px;
}
.flex-container-1 > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
h1{
	background-color: lightsalmon;
}
h2{
	background-color: yellow;
}
</style>
</head>
<body bgcolor="lightblue">
<h1>THE BEST WORKOUT PLAN TO TRANFORM YOUR BODY.</h1>
<h2>1.Chest Day</h2>
<b><p>1.Cable Flyes,3 sets of 10<br>
2.Dumbbell Benchpress,3 sets of 10<br>
3.Cable Crossover,3 sets of 10<br>
4.Dumbbell Arm Bent Pull-Over,3 sets of 10<br>
5.Butterfly Machine,3 sets of 10
</b></p>
<div class="flex-container">
  <div><img src="cgif1.gif" width="100" height="100"></div>
  <div><img src="cgif2.gif" width="100" height="100"></div>
  <div><img src="cgif3.gif" width="100" height="100"></div>
  <div><img src="cgif4.gif" width="100" height="100"></div>
  <div><img src="cgif5.gif" width="100" height="100"></div>
</div>

<h2>2.Arms Day</h2>
<b><p>1.Barbell Curl,3 sets of 10<br>
2.Rope Cable Curl,3 sets of 10<br>
3.Dumbbell Curl,3 sets of 10<br>
4.Preacher Curl,3 sets of 10<br>
5.Concentration Curl,3 sets of 10
</b></p>
<div class="flex-container">
  <div><img src="agif1.gif" width="100" height="100"></div>
  <div><img src="agif2.gif" width="100" height="100"></div>
  <div><img src="agif3.gif" width="100" height="100"></div>
  <div><img src="agif4.gif" width="100" height="100"></div>
  <div><img src="agif5.gif" width="100" height="100"></div>
</div>

<h2>3.Legs Day</h2>
<b><p>1.Leg press machine,3 sets of 10<br>
2.Hamstring Leg Curl,3 sets of 10<br>
3.Quad Leg Extension,3 sets of 10<br>
4.Dumbbell Lunges,3 sets of 10<br>
5.Dumbbell Squat,3 sets of 10
</b></p>
<div class="flex-container">
  <div><img src="lgif1.gif" width="100" height="100"></div>
  <div><img src="lgif2.gif" width="100" height="100"></div>
  <div><img src="lgif3.gif" width="100" height="100"></div>
  <div><img src="lgif4.gif" width="100" height="100"></div>
  <div><img src="lgif5.gif" width="100" height="100"></div>
</div>

<h2>4.Back Day</h2>
<b><p>1.Seated Cable Row,3 sets of 10<br>
2.Seated Lat PullDown,3 sets of 10<br>
3.Chin-Ups,3 sets of 10<br>
4.One-Arm dumbbel Rows,3 sets of 10<br>
5.Bent over row,3 sets of 10
</b></p>
<div class="flex-container">
  <div><img src="bgif1.gif" width="100" height="100"></div>
  <div><img src="bgif2.gif" width="100" height="100"></div>
  <div><img src="bgif3.gif" width="100" height="100"></div>
  <div><img src="bgif4.gif" width="100" height="100"></div>
  <div><img src="bgif5.gif" width="100" height="100"></div>
</div>

<h2>5.Shoulder Day</h2>
<b><p>1.Seated Dumbbell Military Press,3 sets of 10<br>
2.Bench Dumbbel Flyes,3 sets of 10<br>
3.Seated Dumbbel Lateral Raise,3 sets of 10<br>
4.Bent over Lateral Raises,3 sets of 10<br>
5.Front Seated Military Press,3 sets of 10
</b></p>
<div class="flex-container">
  <div><img src="sgif1.gif" width="100" height="100"></div>
  <div><img src="sgif2.gif" width="100" height="100"></div>
  <div><img src="sgif3.gif" width="100" height="100"></div>
  <div><img src="sgif4.gif" width="100" height="100"></div>
  <div><img src="sgif5.gif" width="100" height="100"></div>
</div>

<h2>Abs</h2>
<b><p>
1.25-second plank, 2 sets i.e. 50 seconds total
2.15 laying-down leg raises, 2 sets i.e. 30 raises total
3.21 bicycle crunches, 2 sets i.e. 42 crunches total.
4.Repeat
</b></p>
<div class="flex-container-1">
  <div><img src="absgif1.gif" width="100" height="100"></div>
  <div><img src="absgif2.gif" width="100" height="100"></div>
  <div><img src="absgif3.gif" width="100" height="100"></div>
</div>

<h1>Some tips</h1>
<b><p>
1.If you really want to quit mid-workout, it might be because you're slogging through your break times between sets.
Try using a stopwatch or your iPhone clock app to keep yourself at 30 second breaks between every set.
Not a second longer. This will make your workout feel harder, more intense, but much quicker.
And, short breaks can sometimes be better for building muscle.

<br>

2.Don't take any Days-Off<br>
On your "rest days," do three sets of anything. Try these, for example:

50 push-ups for time and a brisk 20 minute walk.

3 sets of 15 burpees, and a brisk 20 minute walk.

Just walk for an hour at a brisk pace

Whatever you do, don't just sit at home. It's not your "day off." There's no such thing as a "day off."
It's just another day. Keep that time block you've reserved for working out, and dedicate it every single day to pushing yourself — even just a little bit.
This will fortify the habit in your mind, and even one of these mini-workouts on your day off will make your "days on" much easier.

</b></p>

</body>
</html>
