{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/login.css">
	<title>LOGIN!!!</title>
</head>
<body>
	<fieldset>
		<legend><h2>ENTER CORRECT DETAILS..</h2></legend>
	<div class = "details">
	<h2 class ="user">USERNAME:-</h2>
	<input type="text" name="user" id="user" autofocus="on" autocomplete="on">
	<h2 class="password">PASSWORD:-</h2>
	<input type="text" name ="password" id="password">
	<br>

	<button class="reset" id="reset">RESET</button>

	<br>
	<button class="login"id="login">LOGIN</button>

	<h4 style="color: black">NOT REGISTERED YET..?</h4>
	<h3><a href="{% url 'registration' %}" style="text-decoration: none; color: black">THEN CLICK HERE</a></h3>

	</div>

</fieldset>




</body>
</html>
